body {
    padding: 0;
    margin: 0;
    font-family: 'Sora', sans-serif;
    overflow-x: hidden;
}

/* ***********header***************** */

#header {
    background-color: #202020;
    box-sizing: border-box;
}
#header nav {
    width: 100%;
}

#header nav ul li {
    position: relative;
    margin-left: 20px;
}

#header nav ul li .dropdown-menu a{
    color: #707070;
}

#header nav ul li a {
    color: white;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Roboto', sans-serif; 
    transition: .4s;
}

#header nav ul li .nav-li-link:hover{
    color: #01FF2C !important;
    transform: skew(20px);
}

#header nav .nav_signin_signup li{
    list-style-type: none;
    transition: .4s;
}

#header nav .nav_signin_signup li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Sora', sans-serif;
}

#header nav .nav_signin_signup li a:hover{
    transform: scale(1.1);
    color: #01FF2C !important;
    transition: .4s !important;
}
/* ***********ends header***************** */

/* ***************banner ****************** */

#banner-section {
    position: relative;
    width: 100vw;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

.banner-over {
    background: rgb(1, 255, 44, 0.2);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

#banner-section .banner-title-text div {
    position: relative;
    top: 33vh;
}

#banner-section .banner-title-text div h1 {
    font-weight: bold;
    color: #01FF2C;
}


/* rgb(0, 0, 0, 100%) */

.banner_actions_list {
    display: flex;
    justify-content: center;
    position: relative;
    top: 35vh;
}

.banner_actions_list {
    display: flex;
}

.banner_actions_list .bnner_action_1:not(:first-child) {
    margin-left: 10px;
}

.banner_actions_list .bnner_action_1 .card{
    width: 160px;
    height: 160px;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0, .5);
    border: 1px solid #01FF2C;
}
.banner_actions_list .bnner_action_1 a {
    text-decoration: none;
}

.banner_actions_list .bnner_action_1 .card img {
    position: relative;
    width: 90px;
    height: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.banner_actions_list .bnner_action_1 .card h5 {
    color: white;
}

.tracking_number {
    display: flex;
    justify-content: center;
    position: relative;
    top: 36.5vh;
}

.tracking_number form {
    width: 500px;
}

.tracking_number form input[type="text"] {
    width: 330px;
    height: 35px;
    border: 1px solid #A6F40F;
    outline: none;
    background-color: rgb(0, 0, 0, .5);
    text-indent: 5px;
    color: #A6F40F;
}

.tracking_number form input[type="submit"] {
    position: relative;
    left: 5px;
    width: 160px;
    height: 35px;
    border: 1px solid #A6F40F;
    background-color: rgb(0, 0, 0, .5);
    color: #A6F40F;
    font-weight: bold;
}

::-webkit-input-placeholder { /* Edge */
    color: rgb(1, 255, 44, 0.2);
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(1, 255, 44, 0.2);
  }
  
  ::placeholder {
    color: rgb(1, 255, 44, 0.2);
  }




/* ***************ends banner****************** */



/* **************our services************** */
#our_services .services_title h1 {
    text-align: center;
    text-transform: uppercase;
    color: #7B7B7A;
    font-weight: bold;
    font-family: 'Sora', sans-serif;
}

#our_services .services_title h5 {
    font-family: 'Sora', sans-serif;
    color: #7B7B7A;
}

.our_service_list .card {
    position: relative;
    cursor: pointer;
    /* height: 370px; */
}

.our_service_list .card h2 {
    color: #01FF2C;
    position: absolute;
    top: 205px;
    width: 100%;
    background-color: rgb(0, 0, 0, .5);
    left: 0;
    /* height: 40px; */
    box-sizing: border-box;
    padding: 5px;
    text-transform: uppercase;
}

.our_service_list .card .service_list_overlay {
    position: absolute;
    width: 100%;
    height: 0px;
    top: 0;
    background: rgb(1, 255, 44, 0.2);
    visibility: hidden;
    transition: 1s;
}

.our_service_list .card:hover .service_list_overlay {
    visibility: visible;
    height: 250px;
}

.our_service_list .card a {
    background-color: rgb(0, 0, 0, .7);
    color: white;
    font-family: 'Sora', sans-serif;
     height: 40px;
     transition: .3s;
}

.our_service_list .card img {
    height: 250px;
}

.our_service_list .card a:hover {
    border-bottom: 5px solid #01FF2C;
}


/* **************ends our services************** */




/* ***************best courrier section************* */
#best_courier_sec .best_courier_img img {
    width: 100%;
    height: 535px;
    border: 3px solid #01FF2C;
}

#best_courier_sec .best_courier_sec_content {
    position: relative;
    bottom: 12px;
}

#best_courier_sec .best_courier_sec_content h1 {
    color: #7B7B7A;
    font-weight: bold;
}

#best_courier_sec .best_courier_sec_content p {
    color: #7B7B7A;
    font-weight: bold;
    font-size: 20px;
    text-align: justify;
}

#best_courier_sec .best_courier_sec_content .buttn_read_more {
    cursor: pointer;
    width: 120px;
    height: 40px;
    border: 1px solid #7B7B7A;
    border-radius: 20px;
    background-color: none;
    outline: none;
    transition: .4s;
}

#best_courier_sec .best_courier_sec_content .buttn_read_more:hover{
    background-color: #7B7B7A;
    color: white;
}
#best_courier_sec .best_courier_sec_content .buttn_read_more:hover .read_more_best_courier {
    color: white;
}

#best_courier_sec .best_courier_sec_content .buttn_read_more a {
    text-decoration: none;
    color: #7B7B7A;
}

.safety_above_all_img img {
    border: 3px solid #01FF2C;
    height: 420px;
}

/* ***************ends best courrier section************* */


/* *******************footer*********************** */
#footer {
    /* background-color: #202020; */
    background: rgb(0, 0, 0, 0.8);
}

#footer .footer-main .our-company {
    padding: 10px;
}

#footer .footer-main .our-company h4 {
    position: relative;
    padding-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-family: 'Sora', sans-serif;
} 

#footer .footer-main .our-company div li {
    list-style-type: none;
    padding-bottom: 5px;
}

#footer .footer-main .our-company div li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
    font-family: 'Sora', sans-serif;
}

#footer .footer-main .our-customer {
    padding: 10px;
}

#footer .footer-main .our-customer h4 {
    position: relative;
    padding-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-family: 'Sora', sans-serif;
} 

#footer .footer-main .our-customer div li {
    list-style-type: none;
    padding-bottom: 5px;
}

#footer .footer-main .our-customer div li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
    font-family: 'Sora', sans-serif;
}


#footer .footer-main .footer_lang_setting {
    padding: 10px;
}

#footer .footer-main .footer_lang_setting h4 {
    position: relative;
    padding-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-family: 'Sora', sans-serif;
} 

#footer .footer-main .footer_lang_setting div select {
    list-style-type: none;
    padding-bottom: 5px;
}

#footer .footer-main .footer_lang_setting .footer_follow_us h6{
    position: relative;
    top: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
    font-family: 'Sora', sans-serif;
}

#footer .footer-main .footer_lang_setting .footer_follow_us div li {
    display: flex;
    float: left;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #01FF2C;
    list-style-type: none;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
    font-family: 'Sora', sans-serif;
    position: relative;
}

#footer .footer-main .footer_lang_setting .footer_follow_us div li:not(:first-child) {
    margin-left: 10px;
}


#footer .footer-main .footer_lang_setting .footer_follow_us div {
    position: relative;
    top: 15px;
}

#footer .footer-main .footer_lang_setting .footer_follow_us div li a{
    list-style-type: none;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
    font-family: 'Sora', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}
/* *******************ends footer******************* */


/* ******************footer bottom******************* */
#footer-bottom {
    background-color: #202020;
}

#footer-bottom .all-right-reserved p{
    font-size: 12px;
    padding-top: 10px;
    color: white !important;
    font-family: 'Sora', sans-serif;
}

#footer-bottom .org_name p{
    font-size: 12px;
    padding-top: 10px;
    color: white !important;
    font-family: 'Sora', sans-serif;
}

#footer-bottom .terms_privacy p{
    font-size: 12px;
    padding-top: 10px;
    color: white !important;
    font-family: 'Sora', sans-serif;
}
/* *******************ends footer******************** */




/* *******************media queries********************* */

/* ******************ends media queries****************** */















